.harpSearchOuter h3 {
    /* border: 14px double var(--color-primary);
    margin: auto;
    padding: 25px; */
    margin-top: 15px;
}
.harpSearchInner {
    /* text-align: left;
    width: fit-content;
    margin: auto; */
}
.harpSearchInner ul li {
    /* text-align: left;
    width: fit-content; */

}
