/* form h2 {
    color:#333333;
    margin-bottom: 25px;
    width: 100%;
    display: 'flex';
    justify-content: 'center';
}

.flexContainer {
    display: flex;
    width: fit-content;
    margin: 150px auto;
}

.seller {
    margin-right: 25px;
}
.product {
    margin-left: 25px;
}

Button {
    margin-left: 48%;
} */