.searchTitle {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    color: #868686
}
.searchLine1 {
    width: 80%;
    margin: auto;
    height: 30px;
    background-color: #000000;
    text-align: center;
    color: #fafbfc;
    margin-top: 40px;
}
.searchLine1 span {
    color: #fafbfc;
}
.searchLine1Sub {
    width: 85%;
    margin: auto;
    height: 30px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    color: #868686;
}
.flexSE {
    display: flex;
    justify-content: space-evenly;
}
input {
    margin-bottom: 15px;
}

.makerModelMenu {
    position: absolute;
    top: 45%;
    left: 33%;
}
