/* Reference file for default project styles */

:root {
    --dark-text-color: #333333; /* dark text */
    --secondary-color:#faf8ed; /*secondary */
    --primary-color: #8c8a7d; /*primary */
    --font-primary: 'Avenir';
}

.marginL {
    margin: 50px;
}
.marginM {
    margin: 20px;
}
.marginS {
    margin: 8px;
}
.flexSB {
    display: flex;
    justify-content: space-between;
}
.flexSE {
    display: flex;
    justify-content: space-evenly;
}
/* to declare 
:root {
    --main-bg-color: brown;
}

to use

element {
    background-color: var(--main-bg-color);
}
*/